.nav-links{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 2rem;
  background-color: #e4b5b5;
  font-size: 1.5rem;
  row-gap: 1rem;
list-style-type: none;
}
.nav-links a{
  text-decoration: none;
  color: rgb(250, 15, 15);
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid red;
  border-radius: 5px;
  border-width: px;
  background-color: #addae6;
  padding: 10px;
  margin: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
/* footer */
.footer{ 
  width: 100%;
  background-color: aqua;
  bottom: 0px;
  position: fixed;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* input-text */
.input-text {
  font: optional;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid red;
  border-radius: 5px;
  color: #282c34;
  background-color: #7ad7ea;
  padding: 10px;
  margin: 40px;
  text-align: center; /* Center text inside the input */
  width: 70%;
  margin-left: 15%;
  margin-right: 30%;
}



		/* adjust gradient as needed, I just used a random palette */
    .signup {
      border: 2px solid red;
      width: 60%;
      margin: 0 auto;
      padding: 1rem;
      background-color: #eef5d7;
      font-size: 1.5rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border-right: #282c34;
      border-radius: 10px;
      overflow: hidden;
      /* position: relative; */
      width: min(25em, 100%);
      text-wrap: balance;
      font: clamp(1rem, 5vw, 1.5rem) sans-serif;
      color: #a91c1c;
      z-index: -1;
      inset: -1rem;
      border: solid 1.25em;
      border-image: conic-gradient(from var(--a), #669900, #99cc33, #ccee66, 
                    #006699, #3399cc, #990066, #cc3399, 
                    #ff6600, #ff9900, #ffcc00, #669900) 1;
      animation: a 4s linear infinite;
      --a: 180deg;
    }
    .signup:hover {
      color: #f43d0a;
      background-color: #eab8e5;

    }
    .input-text:hover{
      background-color: #f7f7f7;
      
    }
    /* btn */
    .btn{
      background-color: #99cc33;
      font-size: 1.5rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border: 1px solid red;
      border-radius: 5px;
      color: #0a3ea5;
      padding: 10px;
      margin: 40px;
      width: 200px;
      text-align: center; /* Center text inside the input */
     
    }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
